Repository BlueBrain/Search, pull requests merged in 2021-11, with the labels that each got.

#493 Move from PMC to JATS naming for parsing
  docs/source/whatsnew.rst
  src/bluesearch/database/article.py
  src/bluesearch/entrypoint/database/parse.py
  tests/data/jats_article.xml
  tests/unit/database/test_article.py
  tests/unit/database/test_topic.py
  tests/unit/entrypoint/database/test_parse.py
Labels: documentation, 🗄️ database, CLI

#495 Split up the CI jobs into smaller jobs
  .github/workflows/ci.yaml
  .github/workflows/run-tests.yml
  docs/source/whatsnew.rst
  pyproject.toml
  tox.ini
Labels: optimization, linting / formatting / cleaning, 🧪 testing

#498 Enable easy processing of bioRxiv and medRxiv dumps
  docs/source/whatsnew.rst
  src/bluesearch/entrypoint/database/parse.py
  tests/unit/entrypoint/database/test_parse.py
Labels: new feature, 🗄️ database, CLI
