Repository BlueBrain/Search, pull requests merged in 2021-09, with the labels that each got.

#418 Generate unique identifiers for papers from multiple sources
  data_and_models/pipelines/relation_extraction/convert_chemprot_fmt.py
  docs/source/whatsnew.rst
  src/bluesearch/database/identifiers.py
  tests/database/test_identifiers.py
  tox.ini
Labels: new feature, 🗄️ database

#442 Translate relative imports into absolute ones
  docs/source/whatsnew.rst
  src/bluesearch/__init__.py
  src/bluesearch/database/mining_cache.py
  src/bluesearch/embedding_models.py
  src/bluesearch/entrypoint/create_database.py
  src/bluesearch/entrypoint/database/parent.py
  src/bluesearch/entrypoint/embedding_server.py
  src/bluesearch/entrypoint/embeddings.py
  src/bluesearch/entrypoint/mining_cache.py
  src/bluesearch/entrypoint/mining_server.py
  src/bluesearch/entrypoint/search_server.py
  src/bluesearch/mining/attribute.py
  src/bluesearch/mining/entity.py
  src/bluesearch/mining/pipeline.py
  src/bluesearch/search.py
  src/bluesearch/server/embedding_server.py
  src/bluesearch/server/mining_server.py
  src/bluesearch/server/search_server.py
  src/bluesearch/widgets/article_saver.py
  src/bluesearch/widgets/mining_widget.py
  src/bluesearch/widgets/search_widget.py
Labels: optimization

#443 `bbs_database parse` and `add`: add support for multiple files
  src/bluesearch/entrypoint/database/add.py
  src/bluesearch/entrypoint/database/parse.py
  tests/entrypoint/database/test_add.py
  tests/entrypoint/database/test_parse.py
Labels: new feature, optimization

#437 In-detail parsing of the PMC XML paragraphs
  src/bluesearch/database/article.py
  tests/unit/database/test_article.py
Labels: 🐛 bug fix, 🗄️ database

#440 Tables articles and sentences for bbs_database init and add
  docs/source/whatsnew.rst
  src/bluesearch/entrypoint/database/add.py
  src/bluesearch/entrypoint/database/init.py
  src/bluesearch/entrypoint/database/schemas.py
  tests/integration/test_bbs_database.py
  tests/unit/entrypoint/database/test_add.py
  tests/unit/entrypoint/database/test_init.py
  tox.ini
Labels: 🗄️ database

#458 Add JSON serialization for dataclass Article
  docs/source/whatsnew.rst
  requirements.txt
  setup.py
  src/bluesearch/database/article.py
  src/bluesearch/entrypoint/database/add.py
  src/bluesearch/entrypoint/database/parse.py
  tests/unit/entrypoint/database/test_add.py
  tests/unit/entrypoint/database/test_parse.py
Labels: optimization, dependencies, 🗄️ database

#462 Stop when no article or sentence to load in the database
  docs/source/whatsnew.rst
  src/bluesearch/entrypoint/database/add.py
  tests/unit/entrypoint/database/test_add.py
Labels: 🐛 bug fix, 🗄️ database
